<footer class="footer">
	<div class="footer__decoration"><svg width="76" height="139" viewBox="0 0 76 139" fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<path opacity="0.1"
				d="M-112 176C-114.761 176 -117 173.761 -117 171L-117 4.99998C-117 2.23856 -114.761 -1.53566e-05 -112 -1.54773e-05L71 -2.34765e-05C73.7614 -2.35972e-05 76 2.23855 76 4.99998L76 86C76 135.706 35.7056 176 -14 176L-112 176Z"
				fill="white" />
		</svg>
		<svg width="41" height="106" viewBox="0 0 41 106" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path opacity="0.1"
				d="M-71.9948 106C-73.6545 106 -75 104.652 -75 102.989L-75 3.01137C-75 1.34824 -73.6545 4.89039e-06 -71.9948 4.81769e-06L37.9948 0C39.6545 -7.26973e-08 41 1.34823 41 3.01136V51.7955C41 81.7318 16.7816 106 -13.0933 106L-71.9948 106Z"
				fill="white" />
		</svg>

	</div>
	<div class="footer__container container">
		<div class="footer__inner">
			<a href="#" class="footer__logo">G-haz</a>

			<ul class="footer__list">
				<li class="footer__list-item"><a href="#" class="footer__list-link">Главная</a></li>
				<li class="footer__list-item"><a href="#test" class="footer__list-link">Тест</a></li>
			</ul>
			<ul class="footer__list">
				<li class="footer__list-item"><a href="#complete" class="footer__list-link">Проекты</a></li>
				<li class="footer__list-item"><a href="#comments" class="footer__list-link">Отзывы</a></li>
			</ul>
			<ul class="footer__list footer__list_other">
				<li class="footer__list-item"><a href="mailto:g-haz@gmail.com"
						class="footer__list-link">g-haz@gmail.com</a></li>
				<li class="footer__list-item"><a href="tel:+77775584422" class="footer__list-link">+ 7 777 558 4422</a>
				</li>
			</ul>
		</div>
	</div>
</footer>