<header class="header">
    <div class="header__container container">
        <div class="header__inner">
            <a class="header__logo header__logo_examples">
                G-haz
            </a>
            <nav class="header__nav nav">
                <ul class="header__list">
                    <li class="header__list-item">
                        <a href="main.html" class="header__list-link">
                            Главная
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="main.html#test" class="header__list-link">
                            Тест
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="main.html#comments" class="header__list-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="main.html#complete" class="header__list-link">
                            Проекты
                        </a>
                    </li>
                    <li class="header__list-item">
                        <a href="#" class="header__list-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="tel:+77775584422" class="header__tel">
                + 7 777 558 4422
            </a>
        </div>

    </div>
</header>