.mfp-container {
    padding: 0 20px !important;
}
.mfp-close-btn-in .mfp-close {
    color: $orange;
    font-size: 40px;
    cursor: pointer !important;
}
.close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
}
.wrapper__popup {
    max-width: 580px;
    width: 100%;
    min-height: 528px;
    background-color: $white;
    border: 2px solid #f88600;
    border-radius: 20px;
    margin: 0 auto;
}
.form-popup {
    height: 100%;
    width: 100%;
}
.form-popup__wrapper {
    padding-left: 49px;
    padding-top: 40px;
    padding-right: 49px;
}
.form-popup__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-popup__box-text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}
.form-popup__box-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #3a3126;
}
.form-popup__label-text,
.form-popup__label-tel {
    font-weight: 700;
    font-size: 18px;
    color: $black;
    display: inline-block;
    margin-bottom: 10px;
}
.form-popup__text {
    margin-bottom: 15px;
}
.form-popup__text,
.form-popup__tel {
    padding: 0 20px;
    box-shadow: 0px 0px 9px rgba(58, 49, 38, 0.09);
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 479px;
    width: 100%;
    min-height: 64px;
    &::placeholder {
        font-weight: 700;
        font-size: 18px;
        color: #bdb8b2;
    }
}

.button {
    margin: 36px auto 0;
}
.form-popup__button {
}

@media screen and (max-width: 700px) {
    .form-popup__box-text {
        font-size: 16px;
    }
    .button {
        margin-top: 20px !important;
    }
    .form-popup__box-title {
        margin-bottom: 10px;
        font-size: 22px;
    }
    .form-popup__button {
        font-size: 16px !important;
    }
    .form-popup__text,
    .form-popup__tel {
        min-height: 50px;
        font-size: 16px;
        &::placeholder {
            font-size: 16px;
        }
    }
    .form-popup__label-text,
    .form-popup__label-tel {
        font-size: 16px;
    }
    .form-popup__wrapper {
        padding: 20px 20px 0;
    }
    .wrapper__popup {
        min-height: 450px;
    }
}
@media screen and (max-width: 499px) {
}
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
